body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.spacer-m {
    margin-bottom: 20px;
}

.todo-list {
    background: #f1f1f1;
    padding: 20px 5px 5px 30px;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 8px;
    border-top: 5px solid #000;
}

.todo-list-li {
    list-style: none;
    list-style-type: none;
}

.todo-list-moving-item {
    color: #ff9900;
}

.todo-list--active {
    border-color: #ff9900;
    border-top-color: #ff9900;
}

.todo-list-item--active {
    color: #ff9900;
}

.todo-list-item-drag-handle {
    cursor: row-resize;
}

.todo-list-item-edit-form {
    padding: 15px;
    background: white;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin: 10px 0 15px -20px;
}

.todo-list-item-title--checked {
    text-decoration: line-through;
    color: #ccc;
}

.project-list--add-button {
    display: block;
    margin: 50px auto 0;
}
