/* 1. GENERAL */

    /* 1.1 General tags */

    body {
      margin: 0;
      padding: 0;
      font-family: sans-serif;
      background: #ddd;
    }


    /* 1.2. Spacers */

    .spacer {
    }

        .spacer-m {
            margin-bottom: 20px;
        }

        .spacer-l {
            margin-bottom: 40px;
        }


/* 2. COMPONENTS */

    /* 2.1. Todo list */

    .todo-list {
        background: #f1f1f1;
        padding: 20px 5px 5px 30px;
        position: relative;
        border: 1px solid #ddd;
        border-radius: 8px;
        border-top: 5px solid #000;
    }

        .todo-list__active {
            border-color: #ff9900;
            border-top-color: #ff9900;
        }

        .todo-list--list-item {
            list-style: none;
            list-style-type: none;
        }

        .todo-list--item-being-dragged input[type=checkbox] {
            display: none;
        }


    /* 2.2. Todo list item */

    .todo-list-item {
        position: relative;
        padding: 1px 7px;
        margin: 0 10px 0 0;
        border-radius: 5px;
        border: 1px solid #f1f1f1;
    }

        .todo-list-item:hover .todo-list-item-actions {
            background: #f1f1f1;
            border: 1px solid #aaa;
            border-radius: 4px;
            padding: 2px;
            display: block;
            right: 10px;
            top: 0;
            position: absolute;
        }

        .todo-list-item--edit-form {
            padding: 15px;
            background: white;
            border-radius: 5px;
            border: 1px solid #ddd;
            margin: 10px 0 15px -20px;
        }

        .todo-list-item--title__checked {
            text-decoration: line-through;
            color: #bbb;
        }

        .todo-list-item .checkbox input[type=checkbox] {
            margin-left: -25px;
        }

        .todo-list-item__active {
            background: rgba(255, 153, 0, 0.2);
            border: 1px dotted #ff9900;
        }

        .todo-list-item__checked .todo-list-item-meta .todo-list-item-meta--start__late {
            color: #999;
        }


    /* 2.3. Todo list item meta */

    .todo-list-item-meta {
    }

        .todo-list-item-meta li {
            color: #999;
            font-size: 12px;
        }

        .todo-list-item-meta .todo-list-item-meta--start__late {
            color: rgb(144, 30, 30);
        }


    /* 2.4. Todo list item actions */

    .todo-list-item-actions {
    }

        .todo-list-item-actions {
            display: none;
        }

        .todo-list-item-actions button {
            padding: 0;
            color: #999;
        }

        .todo-list-item-actions li {
            padding: 0 3px;
            font-size: 10px;
            color: #999;
        }

        .todo-list-item-actions--drag-handle {
            cursor: row-resize;
        }

        .todo-list-item-actions--drag-handle:hover {
            color: #23527c;
        }


    /* 2.5. Project list */

    .project-list--add-button {
        display: block;
        margin: 50px auto 0;
    }


    /* 2.6. Project list item */

    .project-list-item {
    }

        .project-list-item--title {
            margin-top: 0px;
        }

        .project-list-item:hover .project-list-item-actions {
            display: block;
        }


    /* 2.7. Project list item actions */

    .project-list-item-actions {
        margin: 3px -5px 0 0;
        display: none;
        font-size: 12px;
    }

        .project-list-item-actions--delete-button {
            color: #999;
        }

        .project-list-item-actions--drag-handle {
            cursor: row-resize;
        }

        .project-list-item-actions--drag-handle:hover {
            color: #23527c;
        }

        .project-list-item-actions li {
            padding: 0 3px;
            color: #999;
        }

        .project-list-item-actions button {
            color: #999;
            padding: 0;
        }


    /* 2.8 Inline markdown */

    .inline-markdown {
    }

    .inline-markdown a {
        text-decoration: underline;
        color: #000;
    }


/* 3. Transitions */

.transaction--slide-in-ease-out {
}

    .transaction--slide-in-ease-out-enter {
        opacity: 0;
        transform:   translate(-250px,0);
        transform: translate3d(-250px,0,0);
    }

    .transaction--slide-in-ease-out-enter.transaction--slide-in-ease-out-enter-active {
        opacity: 1;
    	transition: opacity 1s ease;
    	transform: translate(0, 0);
    	transform: translate3d(0, 0, 0);
    	transition-property: transform, opacity;
    	transition-duration: 300ms;
    	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
    }

    .transaction--slide-in-ease-out-leave {
      opacity: 1;
    }

    .transaction--slide-in-ease-out-leave.transaction--slide-in-ease-out-leave-active {
      opacity: 0.01;
      transition: opacity 600ms ease-in-out;
    }

/* 4. Other */

.container,
.container-fluid {
    background: #fff;
    padding-bottom: 20px;
}
