/* GENERAL */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.spacer-m {
    margin-bottom: 20px;
}

.spacer-l {
    margin-bottom: 40px;
}

.markdown-inline a {
    text-decoration: underline;
    color: #000;
}


/* COMPONENTS */

.todo-list {
    background: #f1f1f1;
    padding: 20px 5px 5px 30px;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 8px;
    border-top: 5px solid #000;
}

.todo-list-li {
    list-style: none;
    list-style-type: none;
}

.todo-list-moving-item input[type=checkbox] {
    display: none;
}

.todo-list--active {
    border-color: #ff9900;
    border-top-color: #ff9900;
}

.todo-list-item {
    position: relative;
}

.todo-list-item-meta-list li {
    color: #999;
    font-size: 12px;
}

.todo-list-item-actions {
    display: none;
}

.todo-list-item-actions li {
    padding: 0;
    font-size: 10px;
    color: #999;
}

.todo-list-item:hover .todo-list-item-actions {
    background: #f1f1f1;
    border-radius: 4px;
    padding: 2px;
    display: block;
    right: 10px;
    top: 0;
    position: absolute;
}

.todo-list-item--active,
.todo-list-item--active a {
    color: #ff9900;
}

.todo-list-item-drag-handle {
    cursor: row-resize;
}

.todo-list-item-edit-form {
    padding: 15px;
    background: white;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin: 10px 0 15px -20px;
}

.todo-list-item-title--checked {
    text-decoration: line-through;
    color: #ccc;
}

.project-list-item-title {
    margin-top: 0px;
}

.project-list--add-button {
    display: block;
    margin: 50px auto 0;
}

.project-list-item-delete-button {
    color: #999;
}

.project-list-item-actions {
    margin-right: -10px;
    display: none;
}

.project-list-item-actions li {
    padding: 0;
}

.project-list-item:hover .project-list-item-actions {
    display: block;
}
